/node_modules
/public/hot
/public/files/**
!/public/files/default.png
/public/files2/**
!/wdj6\public\files2/default.png
!/public/files2/default2.png
!/public\files2/default6.png
/public/files3/**
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
